<%= form_for(:user, url: registration_path(:user)) do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Enter Your First Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Your Last Name" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter A Valid Email" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter A Password"%>
        <small id="passwordHelp" class="form-text text-muted">Use at least one letter, one numeral, and seven characters.</small>
  </div>
  <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Re enter Your Password" %>
      </div>  
  <div class="center">
    <%= f.submit "Sign Up!", class: "btn btn-primary" %>
  </div>
<% end %>