$('#exampleModalLabel').html('
<%= @user.first_name.capitalize %>
  <%= @user.last_name.capitalize %>'+'
    <%= '(Administrator)' if @user.admin? %>'); $('#email').html('
      <i class="fa fa-envelope"></i>
      <%= @user.email %>'); $('#projects').html('
        <i class="fa fa-list"></i> Requests(
        <%= @user.projects.size %>):
          <ul></ul>');
          <% @user.projects.each do |project| %>
            $('#projects ul').append('
            <li>
              <%= link_to project.name, project_path(project) %>
            </li>');
            <% end %>
              $('.modal-footer').html('
              <%= link_to '<i class="fa fa-paper-plane"></i> Send Message'.html_safe, users_path(@user), class: 'btn btn-info'%>')
                <% if is_admin? and !@user.role_master? %>
                  $('.modal-footer').append('
                  <%= @user.first_name %>'+'
                    <%= link_to '<i class="fa fa-trash"></i> Delete User'.html_safe, users_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this image?"}, class: 'btn btn-danger'%>');
                      <% end %>