<% if !@projects.any? %>
    <p>You have no pending project requests.</p>
  <% else %>
  <div class="center">
    <%= will_paginate @projects%>
   </div> 
   <% if !current_user.admin? %>
    <% @projects.each do |project| %>
      <div>
          <h1>
            <%= link_to project.name, project_path(project)%>
          </h1>
            <div class="progress">
              <div class="progress-bar bg-<%="success" if project.checklist and project.checklist.get_status == 100%>" role="progressbar" style="width: <%= project.checklist ? project.checklist.get_status > 0 ?  project.checklist.get_status : 100  : 100 %>%" aria-valuemin="0" aria-valuemax="100"><%= project.checklist ? project.checklist.get_status > 0 ? project.checklist.get_status == 100 ? "Complete" : project.checklist.get_status.to_s << '%' : 'No Progress. Check back soon!'  : 'No Progress. Check back soon!' %></div>
            </div>
          <div class="actions right">
            <%= link_to 'View status', project_checklist_path(project) %>
            <%= link_to 'View messages', conversation_messages_path(project) %>
          </div>
      </div>
  <% end %>
    <% else %>
       <% @projects_all.each do |project| %>
      <div>
          <h1>
            <%= link_to project.name, project_path(project)%>
          </h1>
            <div class="progress">
              <div class="progress-bar bg-<%="success" if project.checklist and project.checklist.get_status == 100%>" role="progressbar" style="width: <%= project.checklist ? project.checklist.get_status > 0 ?  project.checklist.get_status : 100  : 100 %>%" aria-valuemin="0" aria-valuemax="100"><%= project.checklist ? project.checklist.get_status > 0 ? project.checklist.get_status == 100 ? "Complete" : project.checklist.get_status.to_s << '%' : 'No Progress. Check back soon!'  : 'No Progress. Check back soon!' %></div>
            </div>
          <div class="actions right">
            <%= link_to 'View status', project_checklist_path(project) %>
            <%= link_to 'View messages', conversation_messages_path(project) %>
          </div>
      </div>
    <% end %>
<% end %>
<% end %>